.parent-div{
    display: flex;
    flex-direction: row;
    border: 1px gray solid;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}
.item1 {
    background-color:bisque;
}
.item2 {
    background-color:aqua;
}