.header {
    font-family: Arial;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 15px;
}
.text-box-1 {
    font-size: 15px;
    margin-bottom: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    width: 370px;
    border: none;
    background-color: rgb(234, 234, 234);
}
.text-box-2 {
    display: block;
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    width: 370px;
    border: none;
    background-color: rgb(234, 234, 234);
}
.button-request{
    margin-top: 40px;
    margin-right: 20px;
    font-size: 15px;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
}
.button-schedule {
    font-size: 15px;
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 18px;
    padding-bottom: 18px;
    border: none;
    cursor: pointer;
    color: black;
}