.cat-image {
    width:70px;
    height:70px;
    border-radius: 40px;
    vertical-align: middle;
    margin-right: 10px;
}
.text {
    font-size:25px;
    font-family: Arial;
    border: none;
    color: rgb(99, 97, 97);
    vertical-align: middle;
    margin-right: 80px;
}
.tweet-button {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: rgb(0, 160, 241);
    font-weight: bolder;
    font-size: 15px;
    vertical-align: middle;
}