.container1,
.container2,
.container3 {
    width: 200px;
    margin-left: 15px;
    font-family: Arial;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    display: inline-block;
}
.image1 {
    width: 200px;
    height: 220px;
    object-fit: cover;
}
.header4 {
    margin-top: 5px;
    margin-bottom: 0px;
    padding-left: 5px;

}
.paragraph1 {
    margin-top: 0px;
    margin-bottom: 0px;  
    padding-left: 3px;
    color: rgb(112, 112, 112);
}
.button-add-friend {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;    
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: rgb(0, 112, 223);
    border: none;
    border-radius: 5px;
}
.profile-picture {
    width: 30px;
    height:30px;
    object-fit: cover;
    border-radius: 20px;
    margin-left: 5px;
}
.profile-div {
    display: inline-block;
    vertical-align: middle;
}
.paragraph-div {
    display: inline-block;
    vertical-align: middle;
}
.profile-paragraph-div {
    margin-top: 5px;
}