.parent-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 10px;
}
.col-1 {
    background-color: lightcoral;
}
.col-2 {
    background-color: lightslategrey;
}
.col-3 {
    background-color: lightsalmon;
}
.col-4 {
    background-color: lightpink;
}